<!doctype html>
<html><head><meta charset="utf-8"><title>Signup</title></head>
<body>
<h1>Signup</h1>
<form method="POST" action="/signup">
  <input name="username" placeholder="username" required>
  <input name="password" placeholder="password" type="password" required>
  <button>Signup</button>
</form>
</body></html>
